{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Category</title>
                <link rel="stylesheet" href="{% static 'css/nav_bar.css' %}">

<link rel="stylesheet" href="{% static 'css/c_admin/add_cat.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
</head>
<body>
        {% include 'nav.html' %}
    <div class="main_content">

    <div class="catego">
    <h1>Add Category</h1>

    <form method="POST" enctype="">

        {% csrf_token %}

        <label>Category Name</label>

        <input type="text" name="category" placeholder="Enter category" required>

        <button type="submit">
            Save Category
        </button>

    </form>
    </div></div>
</body>
</html>